h1{
    background-color: blue;
}
.one{
    background-color: orange;
}
.two{
    background-color: skyblue;
}
.three{
    font-size: 22px;
    font-style: italic;
}
.four{
    color: red;
    font-weight: bold;
}
.colorClass{
    background-color: blue;
    color: white;
}
.boldClass{
    font-weight: 800;
}
.italicClass{
    font-style: italic;
}
.active{
    background-color: green;
    color: white;
    padding: 5px 10px;
}
.home{
    font-weight: bold;
}
div a{
    text-decoration: none;
    color: black;
}