<!-- <h1 style="text-align: center;">Hello, this is angular 20</h1> -->
<!-- <button class="btn btn-primary" (click)="onClick()">Click me</button> -->
<!-- <button>btn 1</button> <button>btn 2</button> <button>btn 3</button> <button>btn 4</button> -->
<!-- using selector by element name -->
<!-- <h2>App component</h2>
<app-employee></app-employee> -->

<!-- using selector bt class name -->
<!-- <div class="app-employee"></div> -->

<!-- using selector bt attribute name -->
<!-- <div app-employee></div> -->

<div style="text-align: center;" class="text-center">
    <h1>Parent component</h1>
    <!-- Parent Component : <input type="text" #pcomponent (keyup)="0"> -->

    Value of Child Componet: <b>{{cData}}</b> 
    
    @if(false){
        <div style="margin-top: 2rem; font-weight: bold;">Hello, World!</div>
    }

    
    <input type="radio" name="rad" checked (click)="onChange(true)"> Male
    <input type="radio" name="rad" (click)="onChange(false)"> Female
    <br>
    @if(isValid){
        <b>I am Male</b>
    }@else{
        <b>I am Female</b>
    }

    <!-- @if(!isValid){
        <b>I am Female</b>
    } -->

    <!-- using old syntax and way and need to import CommonModule -->
    <!-- <div *ngIf="isValid">
        <b>I am Male</b> 
    </div>
    <div *ngIf="!isValid">
        <b>I am Female</b>
    </div> -->
    
    <br/>
    <br/>
    Check Adult or Not?:
    <input type="text" #ageVal (keyup)="getAdult(ageVal.value)">
    @if(age<10){
        You are child!
    }@else if(age>=10 && age<=40){
        You are Younger!
    }@else{
        You are Old!
    }

    <h2>&#64;switch &#64;case in Directives | Structural directives</h2>
    <input type="text" #inputVal (keyup)="0"> <br/>
    <!-- @switch(inputVal.value){
        @case('Ram'){
            <b>Hello Ram</b>
        }
        @case('Mohan'){
            <b>Hello Mohan</b>
        }
        @case('Soham'){
            <b>Hello Soham</b>
        }
        @case('Rohan'){
            <b>Hello Rohan</b>
        }
        @case('Suresh'){
            <b>Hello Suresh</b>
        }
        @case('Ramesh'){
            <b>Hello Ramesh</b>
        }
        @default{
            <b>Data not matched!</b>
        }
    } -->

    <!-- using old syntax and way and need to import CommonModule -->
    <div [ngSwitch]="inputVal.value">
        <p *ngSwitchCase="'Ram'">Hello, Ram..</p>
        <p *ngSwitchCase="'Mohan'">Hello, Mohan..</p>
        <p *ngSwitchCase="'Soham'">Hello, Soham..</p>
        <p *ngSwitchCase="'Rohan'">Hello, Rohan..</p>
        <p *ngSwitchCase="'Ram'">Hello, Ram..</p>
        <p *ngSwitchCase="'Suresh'">Hello, Suresh..</p>
        <p *ngSwitchCase="'Ramesh'">Hello, Ramesh..</p> 
        <p style="color:red" *ngSwitchDefault>Data not matched!</p>
    </div>

    <h2>&#64;for , track, $index, $even, $odd, $first, $last | Structural directives</h2>
    @for(item of employees; track item.name){
        <ul style="list-style: none;">
            <li>ID : {{item.id}} | Name: {{item.name}}</li>
        </ul>
    }@empty{
        <!-- <li style="color: red;">There are no items found.</li> -->
        <b style="color: red;">There are no items found.</b>
    }
    <h2>Using Table</h2>
    <b>To use even:</b> &#64;for(emp of employees; track emp.id; let i=$index, e =$even)
    <b>To use odd:</b> &#64;for(emp of employees; track emp.id; let i=$index, o =$odd)
    <b>To use first(show 1st record only):</b> &#64;for(emp of employees; track emp.id; let i=$index, f =$first)
    <b>To use last(show last record only):</b> &#64;for(emp of employees; track emp.id; let i=$index, l =$last)
    <table border="1">
        <tr>
            <th>Sr No.</th>
            <th>Employee ID</th>
            <th>Employee Name</th>
        </tr>
        @for(emp of employees; track emp.id; let i=$index, e =$even){
            <tr>
                @if(e==true){
                    <td class="one">Ind {{i}} | {{i+1}}</td>
                    <td class="one">{{emp.id}}</td>
                    <td class="one">{{emp.name}}</td>
                }@else{
                    <td class="two">Ind {{i}} | {{i+1}}</td>
                    <td class="two">{{emp.id}}</td>
                    <td class="two">{{emp.name}}</td>
                }
                
            </tr>
        }@empty{
            <tr>
                <td style="color:red" colspan="12">Data not found.</td>
            </tr>
        }
        
    </table>

    <h2>Using old version</h2>
    <button style="text-align:left" (click)="refreshData()">Refresh</button>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Employee ID</th>
            <th>Employee Name</th>
        </tr>
        <ng-container *ngIf="employees; else elseblock">
            <tr *ngFor="let e of employees; index as i">
                <td>{{i}} | {{i+1}}</td>
                <td>{{e.id}}</td>
                <td>{{e.name}}</td>
            </tr>
        </ng-container>
        <ng-template #elseblock>
            <tr>
                <td colspan="2" style="color: red;">No data found.</td>
            </tr>
        </ng-template>
        
    </table>
    <!-- {{employees}} -->

    <h2 [ngStyle]="{'font-size.px': 22}">31. ngStyle directives in Angular 20 | Attribute directives in Angular 20</h2>
    <h3 [ngStyle]="{'font-size.px': fontSize}">ngStyle started</h3>
    <h4 style="padding: 5px;" [ngStyle]="{'background-color': country == 'India' ? 'orange' : 'red'}">Hello, ngStyle...</h4>
    <div *ngFor="let e of employees">
       <span [ngStyle]="{'color': e.country == 'India' ? 'orange' : 'red'}">Name: {{e.name}} | Country: {{e.country}}</span>
    </div>
    <div *ngFor="let e of employees">
       <span [ngStyle]="{'background-color' : getColor(e.country)}">Name: {{e.name}} | Country: {{e.country}}</span>
    </div>
    <table border="1">
        <tr>
            <th>Sr No.</th>
            <th>Name</th>
            <th>Country</th>
        </tr>
        <tr *ngFor="let e of employees; index as i">
            <td>{{i + 1}}</td>
            <td>{{e.name}}</td>
            <td [ngStyle]="{'background-color' : getColor(e.country)}">{{e.country}}</td>
        </tr>
    </table>
    <h2>*ngClass</h2>
    <h3>ngClass with string</h3>
    <p [ngClass]="'one three'">Hello World!</p>
    <h3>ngClass with array</h3>
    <p [ngClass]="['one', 'three', 'four']">Hello World!!</p>
    <h3>ngClass with object</h3>
    <p [ngClass]="{'one': false, 'three': country == 'USA'}">Hello World!!!</p>

    <table border="1">
        <tr>
            <th>Sr No.</th>
            <th>Name</th>
            <th>Country</th>
        </tr>
        <tr *ngFor="let e of employees; index as i" [ngClass]="{'one': i%2 == 0, 'two':i%2 == 1}">
            <td>{{i + 1}}</td>
            <td>{{e.name}}</td>
            <td>{{e.country}}</td>
        </tr>
    </table>

    <h2>Data Binding - Interpollation</h2>
    <h3>35: Attribute binding in Angular 20 | Data Binding</h3>
    <ul style="list-style: none;">
        <!-- @for(e of employees; track e.id){
            <li>{{e.id}}</li>
            <li>{{e.name}}</li>
            <li>{{e.country}}</li>
        } -->
        <li>{{company?.name}} | {{company?.country}}</li>
        <li>{{num1 + num2}}</li>
        <li>{{num1 - num2}}</li>
        <li>{{num1 * num2}}</li>
        <li>{{num1 / num2}}</li>
        <li>{{company && company.name}} | {{company && company.city}}</li>
        <li>{{company?.name}} | {{company?.city}} | {{company?.state}} | {{company?.country}}</li>
        <!-- using this logic: x>y ? 10:20 for no data found -->
        <li>Name: {{company ? company?.name : 'No data found!'}}</li>
        <li>City: {{company ? company?.city : 'No data found!'}}</li>
        <li>State: {{company ? company?.state : 'No data found!'}}</li>
        <li>Country: {{company ? company?.country : 'No data found!'}}</li>
    </ul>
    <h2>36. Attribute binding in Angular 20 | Data Binding</h2>
    <table border="1">
        <tr>
            <td [attr.colspan]="col">Employee Details</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>Amit Rathode</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>Male</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>Pune</td>
        </tr>
    </table>
    <h2>37. Dynamic styling in Angular 20 | Data Binding</h2>
    <button style="background-color: red;">Click Me</button>
    <button [style.color]="'red'">Click Me</button>
    <button [style.font-weight]="isBold ? 'bold' : 'normal'">Click Me</button>
    <button [style.font-style]="isItalic ? 'italic': 'normal'">Click here</button>
    <button style="color: red;" [style.font-size.px]="fontSize2">Button</button>
    <button style="color: red;" [ngStyle]="addCssStyle()">Button 2</button>

    <h2>38. CSS Class binding in Angular 20 | Data Binding</h2>
    <button class="colorClass">Click me</button>
    <button class="colorClass" [class]="classApply">Click me</button>
    <button class="colorClass" [class.boldClass]="isBold">Click me</button>
    <button class="colorClass" [class.boldClass]="!isBold">Click me</button>
    <button [ngClass]="addCssClasses()">Click here method through</button>
    <h2>39. Property binding in Angular 20 | Data Binding</h2>
    <div outerHTML="{{str}}"></div>
    <div [outerHTML]="str"></div>
    <h4>using Property binding</h4>
    <img [src]="imgPath" alt="angular img">
    <h4>using Interpollation</h4>
    <img src="{{imgPath}}" alt="angular img">

    <h2>Interpolation VS Property Binding in Angular 20 | Data Binding</h2>
    <button (click)="disableEnable()">Disable/Enable</button>
    <h3>Interpolation Eg.</h3>
    <button disabled="{{currentValue}}">Click me</button>
    <h3>Property Binding Eg.</h3>
    <button [disabled]="currentValue">Click me</button>

    <h2>41. Event Binding in Angular 20 | Data Binding</h2>
    <button (click)="click1()">Click 1</button>
    <button on-click="click2()">Click 2</button> <br/>
    <h4>Using keydown and keyup: but called alway keydown event</h4>
    <input type="text" (keyup)="keyUp()" (keydown)="keyDown()">
    <h4>We can use input event also same working like keydown & keyup</h4>
    <input type="text" (input)="inputEvent()">
    <p>Enter your message (using ref vaiable with method):</p>
    <input type="text" #text (keyup)="sendMsg(text.value)">
    <p style="color: red;">{{msg}}</p>
    <p>Enter your message(using ts vaiable without method):</p>
    <input type="text" #text2 (keyup)="msg2=text2.value">
    <p style="color: red;">{{msg2}}</p>
    <!-- <input type="text" on-keyup="keyUp()" on-keydown="keyDown()"> -->
    <h2>42. Two Way Data Binding in Angular 20 | Data Binding</h2>
    <!-- <input type="text" [value]="msg3" #txtVal (keyup)="sendMsg2(txtVal.value)"> -->
    <input type="text" [(ngModel)]="msg3">
    <p>{{msg3}}</p>
    <h2>44. String Pipes in Angular 20 | built in Pipes </h2>
    <p>Actual Value: <b>{{demoTxt}}</b></p>
    <h3>Tranform using pipe:</h3>
    <p>{{demoTxt | uppercase}}</p>
    <p>{{demoTxt | lowercase}}</p>
    <p>{{demoTxt | titlecase}}</p>
    <h4 [ngStyle]="{'text-decoration': 'underline'}">{{titleTxt}}</h4>
    <h4>{{titleTxt | slice : 5}}</h4>
    <h4>{{titleTxt | slice : 5 : 10}}</h4>
    <p>{{jsonData.name}}</p>
    <p>{{jsonData | json}}</p>
    <h2>45. Decimal and Percent Pipes</h2>
    <p>minIntegerDigits.minFractionDigits-maxFractionDigits</p>
    <p>Raw value: {{num}}</p>
    <p>{{num | number: '2.3'}}</p>
    <p>{{num | number: '2.3-5'}}</p>
    <p>{{num | number: '3.3-5'}}</p>
    <p>2.5 => 25*10/100</p>
    <p>{{2.5 | percent}}</p>
    <p>{{2.5 | percent: '3.2-5'}}</p>
    
    <h2>46. Currency Pipes in Angular 20</h2>
    <h3>Syntax:</h3>
    <p>number_expression | currency[:currencyCode[:symbolDisplay[:digitInfo]]]</p>
    <p>Showing by default using currency pipe e.g.:  <b>{{curr | currency}}</b></p>
    <p>to show rupee currency using parameter as INR: <b>{{curr | currency : 'INR'}}</b></p>
    <p>USD: <b>{{curr | currency : 'USD'}}</b></p>
    <p>GBP: <b>{{curr | currency : 'GBP'}}</b></p>
    <p>INR: <b>{{curr | currency : 'INR' : true : '2.3-5'}}</b></p>
    <p>INR: <b>{{curr | currency : 'INR' : false : '2.3-5'}}</b></p>

    <h2>47. Date Pipes in Angular 20</h2>
    <p>{{currentDate}}</p>
    <p>using shortDate parameter: <b>{{currentDate | date : 'shortDate'}}</b></p>
    <p>using longDate parameter:  <b>{{currentDate | date : 'longDate'}}</b></p>
    <p>using fullDate parameter:  <b>{{currentDate | date : 'fullDate'}}</b></p>
    <p>using dd-MM-yyyy parameter <b>{{currentDate | date : 'dd-MM-yyyy'}}</b></p>
    <p>using dd-MMM-yyyy parameter <b>{{currentDate | date : 'dd-MMM-yyyy'}}</b></p>
    <p>using dd/MMM/yyyy parameter <b>{{currentDate | date : 'dd/MMM/yyyy'}}</b></p>

    <h2>48. Parameterize & chaining Pipes in Angular 20</h2>
    <p>{{name | uppercase}}</p>
    <p>{{name | lowercase}}</p>
    <p>{{name | slice: 2: 10}}</p>
    <p>{{name | slice: 2: 5}}</p>
    <p>{{currentDate | date : 'longDate' | uppercase}}</p>
    <p>Overwrite pipe with last one: {{name | lowercase | uppercase}}</p>
    
    <h2>49. Custom Pipes in Angular 20</h2>
    <p>{{name | abc}}</p>
    <p>{{"Rahul sharma" | abc}}</p>

    <h2>50. Limit Word Custom Pipes in Angular 20</h2>
    <p>{{name | abc | lowercase}}</p>
    <p>{{name | uppercase | abc}}</p>
    <p>{{strValue2 | limitword}}</p>
    <p>{{strValue | limitword : 7}}</p>
    <h3>added third parameter as * like:</h3>
    <p>{{strValue2 | limitword : 4 : '****'}}</p>

    <h2>51. Service in Angular 20 </h2>
    <button (click)="onGetMsg()">Get message form service</button>
    <p>Message: <b>{{msg4}}</b></p>
    
    <h2>54. Singleton Service in Angular 20</h2>

    <h2>58, 59, 60, 61, 62, 64, 65 Route Configuration, Set page title, Wildcard route, Named and Multiple Router-Outlets set base URL in Angular 20</h2>
    <div>
        <!-- using multiple active classes -->
        <a routerLink="login" routerLinkActive="active home">Login</a> |
        <!-- using store in variable with peroperty binding -->
        <a routerLink="home" [routerLinkActive]="classToApply">Dashboard</a> |
        <a routerLink="aboutus" [routerLinkActive]="getCss()">About us</a> |
        <a routerLink="contactus" routerLinkActive="active home">Contact us</a> |
        <a routerLink="student" routerLinkActive="active home">Student</a> |
        <a [routerLink]="[{outlets: {outlet2: ['aboutusnew']}}]">About us new</a> |
        <a [routerLink]="[{outlets: {outlet2: ['aboutusnew', 101]}}]">About us new 2</a>
        <!-- send as a parameter -->
    </div>

    <h2>64. Auth Guards using login page in Angular 20</h2>
    <!-- <app-login></app-login> -->
    <div [ngStyle]="{'border': '1px dashed black'}">
        <div [ngStyle]="{'background-color': 'yellow'}">
            <router-outlet></router-outlet> 
            <!-- primary outlet -->
        </div>
        <div [ngStyle]="{'background-color': 'green'}">
            <router-outlet name="outlet2"></router-outlet>
        </div>
    </div>
    <h2>66. Session storage in angular 20</h2>
    <app-comp3></app-comp3>
    <app-comp4></app-comp4>

    <h2 class="primary">Cookies in angular 20</h2>
    <app-comp5></app-comp5>
    <app-comp6></app-comp6>

    <h2 class="primary">71. Reactive Forms in Angular 20</h2>
    <app-reactive-form></app-reactive-form>
    <app-comp1></app-comp1>
    <app-comp2></app-comp2>
    

</div>
<!-- <app-child-comp [pData]="pcomponent.value"></app-child-comp> -->
<app-child-comp (childEvent)="getData($event)"></app-child-comp>

<!-- <router-outlet /> -->
